@model A.Models.offers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addoffer</title>
</head>
<body>
    <div>
        @Model.description
        @Model.location
        @Model.packageID


    </div>
</body>
</html>
