@model A.Models.image

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>t</title>
</head>
<body>
    <div>
        @ViewBag.name
    </div>
</body>
</html>
